@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

*:focus{
    outline: 0;
}

html, body, #root{
    height: 100%;
}

body{
    font: 14px 'Roboto',sans-serif;
    background-color: #EFEFEF;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

button{
    cursor: pointer;
}

@media screen and (max-width: 400px){
    span{
        font-size: 0.5em;
    }
  }